/*Cores 
    background-color: #2C3333; Fundo
    background-color: #0E8388; ciano
    background-color: #eeeeee; Branco
    #25325b
*/

*{
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}



/* -------------------------------------------------------------FOOTER E NAV--------------------------------------------------------*/ 
.navbar{
    background-color: #2C3333;
    max-width: 100%;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    color: #eeeeee;
}

.navbar li, a{
    display: inline-block;
    padding: 0.5rem;
    color: #eeeeee;
}

.nav-left{
    display: flex;
    align-items: center;
}

.search{
    display: flex;
    align-items: center;
    gap: 0rem;
}

.search input{
    background-color: transparent;
    padding: 0.8rem;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    border: solid 0.1rem #2E4F4F;
}

.search span{
    padding: 0.55rem;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    border: solid 0.1rem #2E4F4F;
}

.nav-rigth button{
    background-color: #2E4F4F;
    border-radius: 0.2rem;
    padding: 0.3rem;
    border: none;
    height: 2rem;
    max-width: 10rem;
    display: flex;
    align-items: center;
    color: #eeeeee;
}

.nav-rigth li:last-child {
    padding: 0.2rem;
    border: solid 0.1rem #ff0000;
    background-color: #ff0000;
    border-radius: 50%;
    font-size: 0.4rem;
    margin-right:0.5rem;
}

.material-symbols-outlined{
    font-size: 1.5rem;
}

/* -----------------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------ASIDE----------------------------------------------------------------*/
.side{
    justify-content: center;
    background-color: #2E4F4F;
    max-width: 15rem;
    color: #eeeeee;
    height: 100%;
}

.side_top_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0rem 0.6rem;
    padding-top: 0.5rem;
    
}

.side_lista li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.7rem;
}

.in_live{
    background-color: #ff0000;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    margin-left: 2.5rem;
}
/*------------------------------------------------------------------------------------------------------------------------------------*/